# 02. 파일 입출력

#### 요약

In [23]:
from IPython.display import Image 
import numpy as np
import pandas as pd

#### 데이터 다운로드

In [5]:
%pip install teddynote -q

In [6]:
from teddynote import dataset

In [ ]:
dataset.list_all()

In [7]:
# 데이터셋 다운로드
dataset.download('서울시대중교통')
dataset.download('서울시주민등록인구')

======= 다운로드 시작 =======

data/seoul_transportation.xlsx

  0%|          | 0.00/26.2k [00:00<?, ?B/s]

======= 다운로드 완료 =======
======= 다운로드 시작 =======

data/seoul_population.csv

  0%|          | 0.00/3.55k [00:00<?, ?B/s]

======= 다운로드 완료 =======

#### Excel - 불러오기
- 엑셀 데이터를 바로 읽어들일 수 있으며, sheet_name을 지정하면 해당 시트를 가져온다.
- [참고] pd.read_excel()로 엘셀 데이터 로드시 에러 발생한다면, engine = 'openpyxl' 추가하기

In [34]:
pwd()

'/Users/hyeyounglee/Desktop/practice-py/udm-hanbang-pd'

In [52]:
excel = pd.read_excel('data/seoul_transportation.xlsx'
                    ,sheet_name= 'train'
                    ,engine='openpyxl')

In [53]:
excel.head()

  대중교통구분  노선명      년월   승차총승객수
0    지하철  1호선  201711  8633618
1    지하철  1호선  201712  8737235
2    지하철  1호선  201801  8145989
3    지하철  1호선  201802  7273309
4    지하철  1호선  201803  8692551

- 'sheet_name'을 None으로 지정하면 모든 시트를 가지고 온다. 가지고 올 때는 OrderedDict로 가져오며, keys()로 시트명을 조회할 수 있다.

In [56]:
excel = pd.read_excel('data/seoul_transportation.xlsx', sheet_name = None, engine = 'openpyxl')

In [58]:
excel.keys() # dict_keys(['train', 'bus'])

dict_keys(['train', 'bus'])

In [59]:
excel['train'].head()

  대중교통구분  노선명      년월   승차총승객수
0    지하철  1호선  201711  8633618
1    지하철  1호선  201712  8737235
2    지하철  1호선  201801  8145989
3    지하철  1호선  201802  7273309
4    지하철  1호선  201803  8692551

In [60]:
excel['bus'].head()

  대중교통구분      년월     승차총승객수
0     버스  201711  163443126
1     버스  201712  162521011
2     버스  201801  153335185
3     버스  201802  134768582
4     버스  201803  166177855

#### Excel - 저장하기

In [61]:
excel = pd.read_excel('data/seoul_transportation.xlsx', sheet_name = 'bus', engine = 'openpyxl')

In [69]:
excel.head(2)

  대중교통구분      년월     승차총승객수
0     버스  201711  163443126
1     버스  201712  162521011

In [71]:
# 시트명 지정하여 저장
# index = True 하면 인덱스까지 같이 저장됨
excel.to_excel('data/sample1.xlsx', index = False, sheet_name = 'raw')

#### Excel - 여러개의 시트에 저장 
- 이 작업을 위해서는 반드시 "ExcelWriter" 를 사용해야 함

In [72]:
writer = pd.ExcelWriter('data/sample2.xlsx')

In [73]:
excel.to_excel(writer, index = 0, sheet_name = 'raw1')
excel.to_excel(writer, index = 0, sheet_name = 'raw2')
excel.to_excel(writer, index = 0, sheet_name = 'raw3')
writer.close()

#### CSV

In [74]:
df = pd.read_csv('data/seoul_population.csv')

In [75]:
df.head()

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,"4,417,954","9,911,088","4,816,522","5,094,566","9,668,465","4,701,723","4,966,742","242,623","114,799","127,824",2.19,"1,568,331"
1,2020,종로구,"75,003","158,996","76,876","82,120","149,384","72,635","76,749","9,612","4,241","5,371",1.99,"28,507"
2,2020,중구,"63,686","134,635","65,776","68,859","125,240","61,222","64,018","9,395","4,554","4,841",1.97,"24,495"
3,2020,용산구,"113,093","244,645","118,835","125,810","230,040","110,722","119,318","14,605","8,113","6,492",2.03,"40,247"
4,2020,성동구,"135,870","300,505","146,424","154,081","293,556","143,387","150,169","6,949","3,037","3,912",2.16,"45,603"

In [76]:
# 한글로 불러올 때 다른 인코딩 사용해야 하는 경우 
df = pd.read_csv('data/seoul_population.csv', encoding = 'utf8')

In [77]:
df.head()

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,"4,417,954","9,911,088","4,816,522","5,094,566","9,668,465","4,701,723","4,966,742","242,623","114,799","127,824",2.19,"1,568,331"
1,2020,종로구,"75,003","158,996","76,876","82,120","149,384","72,635","76,749","9,612","4,241","5,371",1.99,"28,507"
2,2020,중구,"63,686","134,635","65,776","68,859","125,240","61,222","64,018","9,395","4,554","4,841",1.97,"24,495"
3,2020,용산구,"113,093","244,645","118,835","125,810","230,040","110,722","119,318","14,605","8,113","6,492",2.03,"40,247"
4,2020,성동구,"135,870","300,505","146,424","154,081","293,556","143,387","150,169","6,949","3,037","3,912",2.16,"45,603"

#### CSV - 큰 파일 데이터 끊어서 불러오기 (chunking)
- chunksize를 지정하고 그 사이즈만큼 끊어서 불어와 처리하면 처리 가능

In [96]:
df = pd.read_csv('data/seoul_population.csv', chunksize = 10)

In [92]:
df

In [97]:
# 동적으로 로드하기 때문에 바로 조회되지 않는다!
# for과 같은 반복문으로 순차적으로 불러들인다. 
for d in df:
        display(d)

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
0,2020,합계,"4,417,954","9,911,088","4,816,522","5,094,566","9,668,465","4,701,723","4,966,742","242,623","114,799","127,824",2.19,"1,568,331"
1,2020,종로구,"75,003","158,996","76,876","82,120","149,384","72,635","76,749","9,612","4,241","5,371",1.99,"28,507"
2,2020,중구,"63,686","134,635","65,776","68,859","125,240","61,222","64,018","9,395","4,554","4,841",1.97,"24,495"
3,2020,용산구,"113,093","244,645","118,835","125,810","230,040","110,722","119,318","14,605","8,113","6,492",2.03,"40,247"
4,2020,성동구,"135,870","300,505","146,424","154,081","293,556","143,387","150,169","6,949","3,037","3,912",2.16,"45,603"
5,2020,광진구,"167,427","360,109","173,000","187,109","346,682","167,310","179,372","13,427","5,690","7,737",2.07,"50,560"
6,2020,동대문구,"167,598","357,014","175,322","181,692","342,837","169,769","173,068","14,177","5,553","8,624",2.05,"61,796"
7,2020,중랑구,"185,920","399,562","197,118","202,444","394,702","195,165","199,537","4,860","1,953","2,907",2.12,"69,447"
8,2020,성북구,"195,396","447,056","214,658","232,398","437,153","210,810","226,343","9,903","3,848","6,055",2.24,"73,770"
9,2020,강북구,"145,896","311,569","151,466","160,103","308,055","150,143","157,912","3,514","1,323","2,191",2.11,"63,422"

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
10,2020,도봉구,"139,114","327,361","159,420","167,941","325,257","158,620","166,637","2,104",800,"1,304",2.34,"62,059"
11,2020,노원구,"218,270","527,032","254,188","272,844","523,037","252,383","270,654","3,995","1,805","2,190",2.40,"85,489"
12,2020,은평구,"213,914","484,043","231,998","252,045","479,835","230,279","249,556","4,208","1,719","2,489",2.24,"85,187"
13,2020,서대문구,"144,838","322,952","153,152","169,800","312,173","149,360","162,813","10,779","3,792","6,987",2.16,"54,204"
14,2020,마포구,"178,482","381,858","178,977","202,881","371,890","175,150","196,740","9,968","3,827","6,141",2.08,"54,331"
15,2020,양천구,"180,633","457,781","224,379","233,402","454,251","222,824","231,427","3,530","1,555","1,975",2.51,"65,670"
16,2020,강서구,"266,982","585,901","282,686","303,215","580,185","280,034","300,151","5,716","2,652","3,064",2.17,"88,984"
17,2020,구로구,"180,531","432,488","215,424","217,064","404,408","199,673","204,735","28,080","15,751","12,329",2.24,"70,198"
18,2020,금천구,"114,715","247,835","126,141","121,694","231,733","117,226","114,507","16,102","8,915","7,187",2.02,"39,842"
19,2020,영등포구,"184,714","407,367","202,969","204,398","379,480","187,647","191,833","27,887","15,322","12,565",2.05,"61,688"

,연도,자치구,세대수,인구 합계,남자 인구 합계,여자 인구 합계,한국인 인구 합계,한국인 남자 인구수,한국인 여자 인구수,등록 외국인 인구 합계,등록 외국인 인구 남자수,등록 외국인 인구 여자수,세대당 인구,65세 이상 고령자 수
20,2020,동작구,"184,229","401,572","193,718","207,854","391,220","189,152","202,068","10,352","4,566","5,786",2.12,"65,190"
21,2020,관악구,"274,811","509,803","255,211","254,592","495,060","248,339","246,721","14,743","6,872","7,871",1.80,"78,875"
22,2020,서초구,"173,502","429,025","205,282","223,743","425,126","203,359","221,767","3,899","1,923","1,976",2.45,"60,169"
23,2020,강남구,"234,872","544,055","260,378","283,677","539,231","257,999","281,232","4,824","2,379","2,445",2.30,"75,096"
24,2020,송파구,"281,959","673,926","325,080","348,846","667,960","322,299","345,661","5,966","2,781","3,185",2.37,"93,483"
25,2020,강동구,"196,499","463,998","228,044","235,954","459,970","226,216","233,754","4,028","1,828","2,200",2.34,"70,019"

#### CSV - 저장하기

In [99]:
df = pd.read_csv('data/seoul_population.csv')

In [102]:
df.to_csv('data/sample.csv', index = 0)

#### 연습문제

In [103]:
dataset.download('판다스입출력샘플')

======= 다운로드 시작 =======

data/file_sample.xlsx

  0%|          | 0.00/37.5k [00:00<?, ?B/s]

data/file_sample1.csv

  0%|          | 0.00/4.17k [00:00<?, ?B/s]

data/file_sample2.csv

  0%|          | 0.00/3.98k [00:00<?, ?B/s]

data/file_sample3.csv

  0%|          | 0.00/3.98k [00:00<?, ?B/s]

======= 다운로드 완료 =======

In [104]:
# 1
sample = pd.read_excel('data/file_sample.xlsx', sheet_name = None)

In [109]:
sample.keys()

dict_keys(['2020년 01월', '2020년 02월', '2020년 03월', '2020년 04월', '2020년 05월', '2020년 06월', '2020년 07월', '2020년 08월', '2020년 09월', '2020년 10월', '2020년 11월', '2020년 12월'])

In [114]:
# 2
sample_202010 = sample['2020년 10월']
sample_202010.head(3)

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1443.440,1627.111111,1420.76,1593.25,1416.86625,1734.166667,NaN,NaN,NaN,NaN,1385.230000,1525.705
1,서울 강동구,1413.275,1430.353333,1418.97,1498.00,1445.00000,1653.695000,NaN,NaN,NaN,NaN,1403.063333,1424.340
2,서울 강북구,1293.675,1313.190000,1275.10,1325.71,1329.69000,1295.840000,NaN,NaN,NaN,NaN,1322.300000,NaN

In [118]:
# 3
sample_202010.to_csv('data/2020-10-oil-price.csv', index = 0)

In [119]:
# 4
sample_csv = pd.read_csv('data/2020-10-oil-price.csv', chunksize = 5)

In [120]:
for d in sample_csv:
    display(d)

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1443.440000,1627.111111,1420.760000,1593.250,1416.866250,1734.166667,NaN,NaN,NaN,NaN,1385.230000,1525.705
1,서울 강동구,1413.275000,1430.353333,1418.970000,1498.000,1445.000000,1653.695000,NaN,NaN,NaN,NaN,1403.063333,1424.340
2,서울 강북구,1293.675000,1313.190000,1275.100000,1325.710,1329.690000,1295.840000,NaN,NaN,NaN,NaN,1322.300000,NaN
3,서울 강서구,1361.773333,1385.840000,1376.913333,NaN,1325.516667,1433.664000,NaN,1273.11,1264.06,NaN,1299.240000,1362.530
4,서울 관악구,1415.450000,1429.970000,NaN,1397.015,1411.840000,1436.280000,NaN,1313.00,1329.45,NaN,1392.550000,1407.050

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
5,서울 광진구,NaN,1360.394000,1337.160000,1344.970,NaN,1373.623333,NaN,NaN,1309.19,NaN,1358.733333,1337.940000
6,서울 구로구,1285.94,1511.173333,1286.420000,1393.832,NaN,1336.065000,NaN,NaN,1321.77,NaN,1314.235000,1391.170000
7,서울 금천구,1313.94,NaN,1305.565000,1287.580,NaN,1351.600000,NaN,1282.46,1291.67,NaN,1313.035000,1379.390000
8,서울 노원구,1340.89,1421.850000,1370.966667,NaN,1373.275,1398.000000,NaN,NaN,NaN,NaN,NaN,1431.435000
9,서울 도봉구,1331.92,1327.320000,1329.896000,1557.000,1291.470,NaN,NaN,NaN,NaN,NaN,1345.106667,1309.936667

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
10,서울 동대문구,1305.485,1304.980,1296.390000,1372.500,1367.550000,1383.838000,NaN,NaN,NaN,NaN,1329.10,1386.7275
11,서울 동작구,1413.840,1345.275,NaN,1358.030,NaN,1484.350000,NaN,NaN,NaN,NaN,1393.29,1388.8400
12,서울 마포구,NaN,1371.190,1408.970000,1556.175,NaN,1493.846000,NaN,NaN,NaN,NaN,1453.00,1420.5800
13,서울 서대문구,1357.690,1358.230,1351.905000,1320.810,1360.226667,1352.713333,NaN,NaN,NaN,NaN,1352.84,1357.8050
14,서울 서초구,1391.770,1408.220,1388.463333,1629.940,1402.270000,1590.833333,1272.39,NaN,NaN,NaN,1417.29,1468.9680

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
15,서울 성동구,1361.450000,1650.000000,1312.230000,1342.190,1418.770000,1471.978333,NaN,NaN,NaN,1299.58,1350.725,1572.695
16,서울 성북구,1299.240000,1333.710000,1301.643333,1354.725,1309.065000,1407.230000,NaN,NaN,1263.84,NaN,1306.835,1353.160
17,서울 송파구,1364.285000,1381.450000,1356.130000,1412.840,1359.053333,1431.812500,NaN,NaN,NaN,NaN,1367.140,1378.280
18,서울 양천구,1312.826667,1323.050000,1269.060000,NaN,1333.678000,1447.435000,NaN,1292.87,NaN,NaN,1347.365,1401.385
19,서울 영등포구,1350.437500,1580.468333,1349.940000,1345.000,1338.742500,1600.968333,NaN,1276.42,NaN,NaN,1349.728,1494.000

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
20,서울 용산구,NaN,1769.362500,NaN,NaN,NaN,1885.408333,NaN,NaN,NaN,NaN,NaN,1800.5075
21,서울 은평구,1332.586,1341.520000,1338.050000,NaN,1334.8375,NaN,NaN,NaN,NaN,1418.0,1314.87,1399.0000
22,서울 종로구,NaN,1989.000000,NaN,1459.000,1425.0000,1943.000000,NaN,NaN,NaN,NaN,NaN,1665.7750
23,서울 중구,NaN,2067.053333,NaN,1758.000,NaN,1945.522000,NaN,NaN,1401.87,NaN,NaN,1618.0000
24,서울 중랑구,1315.525,1305.710000,1303.493333,1359.885,1347.5875,NaN,NaN,NaN,NaN,NaN,1338.42,1291.1900

$E.O.D$